<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="layout" content="main" />
  <title>DocumentCategory List</title>
 </head>
 <body>
  <div class="nav">
   <span class="menuButton">
    <g:link action="create">Nueva Categor&iacute;a</g:link>
   </span>
   <span class="menuButton">
    <g:link action="create" controller="document">Nuevo Documento</g:link>
   </span>
  </div>
  <div class="body">
   <h1>Listado de Categor&iacute;as</h1>
   <g:if test="${flash.message}">
    <div class="message">${flash.message}</div>
   </g:if>
   <table>
    <thead>
     <tr>
      <g:sortableColumn property="id" title="Id" />
      <g:sortableColumn property="title" title="T&iacute;tulo" />
      <g:sortableColumn property="description" title="Descripci&oacute;n" />
      <th></th>
     </tr>
    </thead>
    <tbody>
     <g:each in="${documentCategoryList}">
      <tr>
       <td>${it.id?.encodeAsHTML()}</td>
       <td>${it.title?.encodeAsHTML()}</td>
       <td>${it.description?.encodeAsHTML()}</td>
       <td class="actionButtons">
        <span class="actionButton">
         <g:link action="show" id="${it.id}">Ver</g:link>
        </span>
       </td>
      </tr>
     </g:each>
    </tbody>
   </table>
   <div class="paginateButtons">
    <g:paginate total="${DocumentCategory.count()}" />
   </div>
  </div>
 </body>
</html>
