img.banner {
	margin:1em 9px .25em 9px;
}

.threadText {
	margin-bottom: .5em;
	border: 1px solid #ddd;
	padding: 1em;	
}

.storyThumb {
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	border: 1px solid #333;
	padding: 1px;
}

.galleryThumbs {
	height: 70px;
	width: 100%;
	overflow: auto;
}

.centered {
	margin: auto;
	text-align: center;
}

.spinner {
	position: absolute;
	right: 0px;
	padding: 5px;
}

.menuButton {
	background-color: #ddd;
	border: 1px solid white;
	border-style: none solid none none;
	margin-left: 0px;
	padding-bottom: 5px;
}

.menuButton a:active,.menuButton a:link,.menuButton a:visited,.menuButton a:hover
	{
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
}

.actionButton a:active,.actionButton a:link,.actionButton a:visited,.actionButton a:hover
	{
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

h1 {
	font-family: Arial, sans-serif;
	color: #578BB8;
	font-size: 1.6em;
}

.nav {
	width: 100%;
	margin-top: 30px;
	background-color: #eee;
	height: 30px;
	border: 2px solid #ccc;
	border-style: solid none none none;
}

.dialog {
	padding: 15px;
	background-color: #F0F0F0;
}

.dialog label {
	width: 120px;
	font-weight: bold;
}

textarea,input[type=text],input[type=password] {
	width: 420px;
	margin-bottom: 5px;
	border: 1px solid #888;
}

input[type=button],input[type=submit],input[type=reset] {
	border: 1px outset #333;
	padding: .25em;
	cursor: pointer;	
}

.prop {
	padding: 5px;
}

.buttons {
	margin: auto;
	margin-top: 15px;
	text-align: center;
}

.actionButtons {
	width: 100px;
}

div .errors {
	border: 2px solid red;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

td .errors {
	border: 1px solid red;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.prop .name {
	font-weight: bold;
	text-align: left;
	width: 20%;
}

.prop .value {
	text-align: left;
	width: 80%;
}

.prevLink,.step,.currentStep,.nextLink {
	padding-right: 5px;
}

.currentStep {
	font-weight: bold;
}