  
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
          <meta name="layout" content="main" />
         <title>Show Event</title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a href="${createLinkTo(dir:'')}">Home</a></span>
            <span class="menuButton"><g:link action="list">Event List</g:link></span>
            <span class="menuButton"><g:link action="create">New Event</g:link></span>
        </div>
        <div class="body">
           <h1>Show Event</h1>
           <g:if test="${flash.message}">
                 <div class="message">${flash.message}</div>
           </g:if>
           <div class="dialog">
                 <table>
                   
                   <tbody>
                   
                        <tr class="prop">
                              <td valign="top" class="name">Id:</td>
                              
                                    <td valign="top" class="value">${event.id}</td>
                              
                        </tr>
                   
                        <tr class="prop">
                              <td valign="top" class="name">Date:</td>
                              
                                    <td valign="top" class="value">${event.date}</td>
                              
                        </tr>
                   
                        <tr class="prop">
                              <td valign="top" class="name">Title:</td>
                              
                                    <td valign="top" class="value">${event.title}</td>
                              
                        </tr>
                   
                        <tr class="prop">
                              <td valign="top" class="name">Category:</td>
                              
                                    <td valign="top" class="value"><g:link controller="eventCategory" action="show" id="${event?.category?.id}">${event?.category}</g:link></td>
                              
                        </tr>
                   
                        <tr class="prop">
                              <td valign="top" class="name">Description:</td>
                              
                                    <td valign="top" class="value">${event.description}</td>
                              
                        </tr>
                   
                   </tbody>
                 </table>
           </div>
           <div class="buttons">
               <g:form controller="event">
                 <input type="hidden" name="id" value="${event?.id}" />
                 <span class="button"><g:actionSubmit value="Edit" /></span>
                 <span class="button"><g:actionSubmit value="Delete" /></span>
               </g:form>
           </div>
        </div>
    </body>
</html>
