  
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
         <meta name="layout" content="main" />
         <title>Create Section</title>  
<!-- YAHOO MAPS -->
<script type="text/javascript"
src="http://api.maps.yahoo.com/ajaxymap?v=3.7&appid=OW9F7N3V34HK3mI0cKZHpsAU9Zi2xs_Jz9UTICj3cNh_dpVXaQ0OK.6.10KdMkhZIaA-">
</script>
<!-- FIN YAHOO MAPS -->
    </head>
    <body>
        <div class="body">
        <h1>Callejero</h1>
<div class="centered">
<div id="map" style="width: 650px; height: 750px; border: 1px solid #ccc;"></div>
<script type="text/javascript">
    var direccion = "Plaza de España, Serranillos del Valle, Madrid, Spain";
	var map = new YMap(document.getElementById('map'));
	map.setMapType(YAHOO_MAP_REG);
	map.addZoomLong();
	map.drawZoomAndCenter(direccion, 3);
</script>
</div>      
        </div>
    </body>
</html>
