 <div id="top">
  <a href="#">Forum</a> | 
  <a href="#">Contact</a> 
  <div class="comment">
   Search the Web: <input type="text" name="search" class="search" /> <input type="submit" value="Search" class="submit" />
  </div>
 </div>