 <div id="sidebar-a">
  <div class="padding">
   <ul id="menu">
   <li><a href="#">Home</a></li>
   <li><a href="#">Blog</a></li>
   <li><a href="#">Parterns</a></li>
   <li><a href="#">Forum</a></li>
   <li><a href="#">About</a></li>
   </ul>
  </div>
  
  <div id="hrgreen"></div>
 
  <p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam gravida enim ut risus. 
  Praesent sapien purus, ultrices a, varius ac, suscipit ut, enim. Maecenas in lectus. 
  Donec in sapien in nibh rutrum gravida. Sed ut mauris. Fusce malesuada enim vitae lacus 
  euismod vulputate. Nullam rhoncus mauris ac metus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam gravida enim ut risus. 
  Praesent sapien purus, ultrices a, varius ac, suscipit ut, enim. Maecenas in lectus.
  </p>
 </div>